.img{
    width: 200px;
    height: 200px;
}
.shop{
    margin: 5px;
    /* list-style: none; */
    padding: 5px;
    padding-bottom: 20px;
    /* display: flex; */
    /* display: inline; */
    width: 200px;
}